<div th:fragment="content">
	<div class="container">
		<div class="text-center">
			<h1>Updating Instructor Form</h1>
		</div>
		<br>
		<div class="col-lg-4 col-lg-offset-4 ">
			<form action="#" th:action="@{/instructors/update/__${instructor.id}__}"
				th:object="${instructor}" method="post">
				<p>
					<input type="hidden" th:field="*{id}" />
				</p>
				<p>
					<b>Name:</b> <input type="text" class="form-control"
						th:field="*{name}" />
				</p>
				<p>
					<b>Surname:</b> <input type="text" class="form-control"
						th:field="*{surname}" />
				</p>
				<p>
					<b>Birth Date:</b> <input type="number" class="form-control"
						th:field="*{birthDate}" />
				</p>
				<p>
					<b>TC ID:</b> <input type="number" class="form-control"
						th:field="*{tckn}" />
				</p>
				<p>
					<b>E-mail:</b> <input type="text" class="form-control"
						th:field="*{email}" />
				</p>
				<p>
					<b>Password:</b> <input type="text" class="form-control"
						th:field="*{password}" />
				</p>
				<p>
					<b>Phone:</b> <input type="number" class="form-control"
						th:field="*{phone}" />
				</p>
				
				<div class="form-group">
					<select multiple="multiple" name="courseIds" class="form-control">
						<option th:each="course : ${courseIds}" th:value="${course.id}"
							th:text="${course.name}" th:selected="${#lists.contains(instructor.courseIds,course)}">Wireframe</option>
					</select>
				</div>
				
				<p>
					<input type="submit" class="btn btn-primary form-control"
						value="Submit" />
				</p>
			</form>
			<strong>
				<div class="alert alert-success fade in" th:text="${message}"
					th:if="${message} != null"></div>
				</p>
			</strong> <br>
			<br>
			<br>
		</div>

	</div>
</div>